<div class="o-full-width">
  <div class="c-overlap u-flow-space-s">
    <div class="c-overlap__top">
      <div class="c-overlap-container o-container o-region o-flow">
        <h2>
          {{ cta_heading }}
        </h2>
        <a href="{{ cta_link_url }}" class="c-button c-button--action">{{
          cta_link_text
        }}</a>
      </div>
    </div>
    <div class="c-overlap__bottom">
      <div class="c-overlap-container o-container o-region o-flow">
        <div class="c-background c-background--quote-mark">
          <h2>“{{ quote }}”</h2>
          <p class="u-font-bold u-font-brand">{{ attributee }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
