<footer class="o-region u-text-white u-bg-black">
  <div class="c-site-footer o-container">
    <div class="o-flow">
      <h2>About us</h2>
      <p>
        We are a group of collaborators who are building modern user-centred
        services that put planners at the heart of the design process.
      </p>
      <p>Site built by <a href="https://agile.coop">Agile Collective.</a></p>
    </div>
    <div class="c-site-footer__community o-flow">
      <h2>Community</h2>
      <p>
        <a href="https://twitter.com/opendigitalplan" class="c-with-icon">
          <svg focusable="false" class="c-icon c-icon--big">
            <use xlink:href="/images/all.svg#twitter"></use>
          </svg>
          Follow us on Twitter
          <svg class="c-icon c-icon--small">
            <use xlink:href="/images/all.svg#right-arrow" />
          </svg>
        </a>
      </p>
      <p>
        <a
          href="https://www.youtube.com/channel/UCD0A24Kxas-7pTodRhcJopw"
          class="c-with-icon"
        >
          <svg focusable="false" class="c-icon c-icon--big">
            <use xlink:href="/images/all.svg#youtube"></use>
          </svg>
          Watch our videos
          <svg class="c-icon c-icon--small">
            <use xlink:href="/images/all.svg#right-arrow" />
          </svg>
        </a>
      </p>
    </div>
  </div>
</footer>
