<header class="c-site-head">
  <div class="o-container c-site-head-container">
    <a class="c-site-head__brand c-site-head-container__top" href="/">
      <svg focusable="false">
        <use xlink:href="/images/all.svg#logo"></use>
      </svg>
      <span class="u-visually-hidden">{{ site.name }}, Homepage</span>
    </a>
    <nav class="c-site-head__nav c-site-head-container__bottom">
      <ul class="c-menu" role="list">
        <li class="c-menu__item">
          <a class="c-menu__link" href="/about">About</a>
        </li>
        <li class="c-menu__item">
          <a class="c-menu__link" href="/services">Software & services</a>
        </li>
        <li class="c-menu__item">
          <a class="c-menu__link" href="/benefits">Benefits</a>
        </li>
        <li class="c-menu__item">
          <a class="c-menu__link" href="/join">How to join</a>
        </li>
        <li class="c-menu__item">
          <a class="c-menu__link" href="/funding">Funding</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
