<div class="c-page-head">
  <div class="c-page-head__image">
    <div class="c-page-head-image-wrapper">
      <img
        src="{{ head_image_url }}"
        height="349"
        width="616"
        alt="{{ head_image_alt }}"
      />
    </div>
  </div>
  <div class="c-page-head__content o-flow o-box">
    <h1>{{ title }}</h1>
    <p>
      {{ head_content }}
    </p>
  </div>
</div>
