<div class="o-full-width">
  <div class="c-quote c-spill u-bg-yellow">
    <div class="c-spill-container o-container o-region o-flow">
      <div class="c-background c-background--quote-mark o-flow u-flow-space-s">
        <h2>“{{ quote }}”</h2>
        <p class="u-font-bold u-font-brand">{{ attributee }}</p>
      </div>
    </div>
  </div>
</div>
