<div class="o-container o-region">
  <div class="c-register-block o-box o-switcher u-bg-blue u-text-white">
    <div class="o-flow">
      <h2>Register your interest</h2>
      <p>
        Become a key part of Open Digital Planning by co-owning the services and
        contributing towards their development.
      </p>
    </div>
    <div class="c-register-block__ctas o-switcher u-flow-space-2xs">
      <div class="o-flow">
        <p class="u-font-bold">Join the mailing list to receive updates</p>
        <a href="/" class="c-button c-button--action">Sign up now</a>
      </div>
      <div class="o-flow">
        <p class="u-font-bold">
          Book a call with an Open Digital Planning partner
        </p>
        <a href="/" class="c-button c-button--action">Talk to a partner</a>
      </div>
    </div>
  </div>
</div>
