<div class="o-container">
  <div class="c-register-block o-box o-switcher u-bg-blue u-text-white">
    <div class="o-flow">
      <h2>Register your interest</h2>
      <p>
        Become a key part of Open Digital Planning by co-owning the services and
        contributing towards their development.
      </p>
    </div>
    <div class="c-register-block__ctas o-switcher u-flow-space-2xs">
      <div class="o-flow">
        <p class="u-font-bold">Join the mailing list to receive updates</p>
        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSduhjOBqxV0KdR-_vjokAD02szIsI69s35Q49Ntai_buid02A/viewform"
          class="c-button c-button--action"
          >Sign up now</a
        >
      </div>
    </div>
  </div>
</div>
