<ul class="c-service-tile-list o-switcher u-flow-space-l" role="list">
  {% for service in services %}
  <li class="c-service-tile o-flow u-flow-space-s">
    <svg focusable="false" class="c-service-tile__icon">
      <use xlink:href="/images/all.svg#{{ service.icon_id }}"></use>
    </svg>
    {% if service_tiles_standalone %}
      <h2 class="u-step-1">{{ service.name }}</h2>
    {% else %}
      <h4>{{ service.name }}</h4>
    {% endif %}
    <p>{{ service.content }}</p>
    <a href="{{ service.url }}" class="c-service-tile__link c-with-icon">
      Learn more
      <svg class="c-icon c-icon--small">
        <use xlink:href="/images/all.svg#right-arrow" />
      </svg>
    </a>
  </li>
  {% endfor %}
</ul>
