<blockquote class="twitter-tweet">
  <p lang="en" dir="ltr">
    📼If you missed last week’s live RIPA-BOPS Show &amp; Tell, you can watch
    back here: <a href="https://t.co/7xnG2PVN7d">https://t.co/7xnG2PVN7d</a>.
    <br /><br />🧐Want to hear more? Sign up for regular updates here:
    <a href="https://t.co/Vv6D0acdOp">https://t.co/Vv6D0acdOp</a
    ><a
      href="https://twitter.com/hashtag/PlanTech?src=hash&amp;ref_src=twsrc%5Etfw"
      >#PlanTech</a
    >
    <a
      href="https://twitter.com/hashtag/localdigital?src=hash&amp;ref_src=twsrc%5Etfw"
      >#localdigital</a
    >
  </p>
  &mdash; Open Digital Planning (@opendigitalplan)
  <a
    href="https://twitter.com/opendigitalplan/status/1531560888183967746?ref_src=twsrc%5Etfw"
    >May 31, 2022</a
  >
</blockquote>
<blockquote class="twitter-tweet">
  <p lang="en" dir="ltr">
    We may be biased, but...another fantastic Show and Tell from the RIPA &amp;
    <a href="https://twitter.com/BoPs_Digital?ref_src=twsrc%5Etfw"
      >@BoPs_Digital</a
    >
    team. Lots of work has been going on with new developments around save and
    return and an accessibility audit undertaken - look out for the recording if
    you missed it!<a
      href="https://twitter.com/hashtag/PlanTech?src=hash&amp;ref_src=twsrc%5Etfw"
      >#PlanTech</a
    >
    <a
      href="https://twitter.com/hashtag/localdigital?src=hash&amp;ref_src=twsrc%5Etfw"
      >#localdigital</a
    >
    <a href="https://t.co/JsOSUh0cFz">pic.twitter.com/JsOSUh0cFz</a>
  </p>
  &mdash; Open Digital Planning (@opendigitalplan)
  <a
    href="https://twitter.com/opendigitalplan/status/1519250208265277440?ref_src=twsrc%5Etfw"
    >April 27, 2022</a
  >
</blockquote>
<blockquote class="twitter-tweet">
  <p lang="en" dir="ltr">
    What&#39;s in a name...? Lots of interesting ideas as we think about how our
    <a href="https://twitter.com/BoPs_Digital?ref_src=twsrc%5Etfw"
      >@BoPs_Digital</a
    >
    and RIPA projects are best presented as we move forward in our new and
    joined up phase.<a
      href="https://twitter.com/hashtag/Plantech?src=hash&amp;ref_src=twsrc%5Etfw"
      >#Plantech</a
    >
    <a
      href="https://twitter.com/hashtag/DigitalPlanning?src=hash&amp;ref_src=twsrc%5Etfw"
      >#DigitalPlanning</a
    >
    <a
      href="https://twitter.com/hashtag/LocalDigital?src=hash&amp;ref_src=twsrc%5Etfw"
      >#LocalDigital</a
    >
    <a href="https://t.co/tvA0Z5uBz3">pic.twitter.com/tvA0Z5uBz3</a>
  </p>
  &mdash; Open Digital Planning (@opendigitalplan)
  <a
    href="https://twitter.com/opendigitalplan/status/1513815619178795013?ref_src=twsrc%5Etfw"
    >April 12, 2022</a
  >
</blockquote>

<script
  async
  src="https://platform.twitter.com/widgets.js"
  charset="utf-8"
></script>
