---
layout: layouts/base.njk
title: Guidance service
desc: A browser based service to help residents understand if they need planning permission.
title_icon: triangle
head_content: |
  By only asking questions relevant to their project, our Guidance Service makes it 
  simpler for residents and planning agents to find out what type of planning permissions 
  to apply for.
intro_title: Aim
intro_content: |
  <p>Our aim is to make it easier for residents and planning 
    agents to check what planning permissions their proposed 
    project is likely to need, and to understand any restrictions on a property.</p>
content:
  - type: text
    heading: Description
    content: |
      <p>Our Guidance service makes it simpler for residents and planning agents to 
        find out what type of planning permissions to apply for, by only asking 
        questions relevant to their project. </p>
      <p>Notable features include:</p>
      <ul>
        <li>Applicants can draw a digital site boundary, which is submitted 
          as a data polygon, so PDF location plans are no longer needed.</li>
        <li>The service automatically checks the constraints affecting a property, such as whether it is in a conservation area.</li>
        <li>Help text and illustrations explain complex planning issues in plain english, and signpost the source legislation.</li>
        <li>If the guidance service recommends applying for a Lawful Development Certificate, it will provide a link to this Application Service.</li>
      </ul>
  - type: text
    heading: Technical information
    content: |
      <p>Our Guidance and <a href="/services/application">Application services</a> are built on PlanX 
        (developed through the RIPA project), which means that Officers 
        can use a low-code editor to collaboratively write and maintain services.</p>
      <p>PlanX services are browser-based and users access them via your Council Website. 
        <a href="https://www.notion.so/Service-specification-a076f18cba104925b2fdeb143d0dcb91">Read full technical specifications</a>.</p>
      <p>Automated planning constraints checks are made by querying the <a href="https://www.planning.data.gov.uk/">National 
        Planning Data Platform</a>. The platform pulls through standardised data from 
        council Geographic Information Systems (GIS), so that users know they are 
        seeing reliable and assured data relevant to their property.</p>
---

{% import "blocks.njk" as blocks %} {% extends "layouts/standard-page.njk" %} {%
block head %} {% include "page-head-with-image.njk" %} {% endblock %} {% block
intro %}
{{ intro_content | safe }}
{% endblock %} {% block body %} {% for item in content %}
{{ blocks.print(item) }}
{% endfor %} {% endblock %}
