---
layout: layouts/base.njk
title: Services and software
desc: Our services and software
head_content: |
  We believe that digital planning services and software products should 
  make planners' jobs easier, while making it simpler to turn applicant 
  ideas into a reality.
head_image_url: /images/laptop-bops.png
head_image_alt: A laptop displaying an application form.
youtube_video_id: IpXdvkH4JZQ
services:
  - name: Guidance
    content: Your residents can find out if their project might need planning permission straight away
    icon_id: triangle
    url: /services/guidance
  - name: Application
    content: Your residents can apply and pay for a lawful development certificate online
    icon_id: diamond
    url: /services/application
  - name: Assessment
    content: An easy-to-use back-office system for your planning team to manage applications
    icon_id: circle
    url: /services/assessment
content:
  - type: text
    heading: About the software that delivers these services
    content: |
      <h3>PlanX</h3>
      <p>PlanX is a digital planning service designed by local 
        government planning teams that simplifies the planning 
        process for residents and planning applicants. It allows 
        planners to write planning legislation and policies in 
        machine-readable code, which in turn allows residents to 
        obtain planning information online by answering a series of 
        plain English questions supported by diagrams. </p>
      <h3>BOPS</h3>
      <p>The Back Office Planning System (BoPS) is a user centered 
        application system for local authorities. BoPS provides 
        planning departments with back-office case management, 
        transactional functions using an easily navigational database.</p>
---

{% import "blocks.njk" as blocks %} {% extends "layouts/standard-page.njk" %} {%
block head %} {% include "page-head-with-image.njk" %} {% endblock %} {% block
intro %}
{{ intro_content | safe }}
{% endblock %} 
{% block body %} 
  {% set service_tiles_standalone = true %}
  {% include "service-tiles.njk" %} 
  {% for item in content %}
    {{ blocks.print(item) }}
  {% endfor %} 
{% endblock %}
