<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.name }}</title>
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&family=Roboto:wght@300;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="preload">
    <a href="#main" class="u-visually-hidden">Skip to content</a>
    {% include "header.njk" %}
    <main id="main" tabindex="-1">
      {{ content | safe }}
    </main>
    {% include "register-block.njk" %} {% include "footer.njk" %}
    <script>
      document.querySelector('body').classList.remove('preload')
    </script>
    <script src="/js/menu-toggle.js"></script>
  </body>
</html>
