.u-font-base {
  font-family: var(--font-base);
}

.u-font-brand {
  font-family: var(--font-brand);
}

.u-font-normal {
  font-weight: 400;
}

.u-font-medium {
  font-weight: 500;
}

.u-font-bold {
  font-weight: 700;
}
