:root {
  --colour-black: #1D1D1D;
  --colour-pink: #CB3C79;
  --colour-yellow: #FBD348;
  --colour-blue: #3267CF;
  --colour-navy: #15336D;
  --colour-white: #FFF;
  --colour-grey-light: #F2F1F0;
  --colour-grey-dark: #BBBBBB;
  --colour-base: var(--colour-black);
  --colour-primary: var(--colour-pink);
  --colour-secondary: var(--colour-blue);
  --colour-action: var(--colour-yellow);
  --colour-neutral: var(--colour-grey-light) ;
}

/* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1140,22,1.2,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6, */
:root {
  --space-3xs: clamp(0.31rem, calc(0.29rem + 0.12vw), 0.38rem);
  --space-2xs: clamp(0.56rem, calc(0.51rem + 0.24vw), 0.69rem);
  --space-xs: clamp(0.88rem, calc(0.80rem + 0.37vw), 1.06rem);
  --space-s: clamp(1.13rem, calc(1.03rem + 0.49vw), 1.38rem);
  --space-m: clamp(1.69rem, calc(1.54rem + 0.73vw), 2.06rem);
  --space-l: clamp(2.25rem, calc(2.05rem + 0.98vw), 2.75rem);
  --space-xl: clamp(3.38rem, calc(3.08rem + 1.46vw), 4.13rem);
  --space-2xl: clamp(4.50rem, calc(4.11rem + 1.95vw), 5.50rem);
  --space-3xl: clamp(6.75rem, calc(6.16rem + 2.93vw), 8.25rem);
  /* One-up pairs */
  --space-3xs-2xs: clamp(0.31rem, calc(0.17rem + 0.73vw), 0.69rem);
  --space-2xs-xs: clamp(0.56rem, calc(0.37rem + 0.98vw), 1.06rem);
  --space-xs-s: clamp(0.88rem, calc(0.68rem + 0.98vw), 1.38rem);
  --space-s-m: clamp(1.13rem, calc(0.76rem + 1.83vw), 2.06rem);
  --space-m-l: clamp(1.69rem, calc(1.27rem + 2.07vw), 2.75rem);
  --space-l-xl: clamp(2.25rem, calc(1.52rem + 3.66vw), 4.13rem);
  --space-xl-2xl: clamp(3.38rem, calc(2.55rem + 4.15vw), 5.50rem);
  --space-2xl-3xl: clamp(4.50rem, calc(3.04rem + 7.32vw), 8.25rem);
}

:root {
  --font-brand: "Lexend", sans-serif;
  --font-base: "Roboto", sans-serif;
}

:root {
  --link: var(--colour-pink);
  --link-visited: var(--colour-pink);
  --link-hover: var(--colour-pink);
  --link-focus: var(--colour-pink);
  --link-active: var(--colour-pink);
}

/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1140,22,1.2,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
:root {
  --step--2: clamp(0.78rem, calc(0.71rem + 0.34vw), 0.96rem);
  --step--1: clamp(0.94rem, calc(0.86rem + 0.41vw), 1.15rem);
  --step-0: clamp(1.13rem, calc(1.03rem + 0.49vw), 1.38rem);
  --step-1: clamp(1.35rem, calc(1.23rem + 0.59vw), 1.65rem);
  --step-2: clamp(1.62rem, calc(1.48rem + 0.70vw), 1.98rem);
  --step-3: clamp(1.94rem, calc(1.77rem + 0.84vw), 2.38rem);
  --step-4: clamp(2.33rem, calc(2.13rem + 1.01vw), 2.85rem);
  --step-5: clamp(2.80rem, calc(2.56rem + 1.21vw), 3.42rem);
}

:root {
  --region-space: var(--space-xl);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
button {
  padding: 0;
}

:focus-visible {
  outline: var(--colour-primary) solid 1px;
  outline-offset: 0.25rem;
}

main:focus {
  outline: 0;
}

::-webkit-scrollbar {
  height: 0.7rem;
}

::-webkit-scrollbar-track {
  background-color: var(--colour-neutral);
}

::-webkit-scrollbar-thumb {
  background-color: var(--colour-primary);
}

* {
  scrollbar-color: var(--colour-primary) var(--colour-neutral);
}

* {
  transition: color 0.1s ease-in-out, background 0.1s ease-in-out;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

body {
  font-family: var(--font-base);
  font-size: var(--step-0);
  line-height: calc(2px + 2ex + 2px);
  color: var(--colour-base);
  display: flex;
  flex-direction: column;
  background-color: var(--colour-white);
  overflow-x: hidden;
}

main {
  flex: auto;
}

a:link {
  color: var(--link);
}

a:visited {
  color: var(--link-visited);
}

a:hover {
  color: var(--link-hover);
}

a:active {
  color: var(--link-active);
}

a[href^=tel] {
  color: inherit;
  cursor: default;
  text-decoration: none;
  appearance: none;
}

ul:not([class]), ol:not([class]) {
  list-style: none;
  max-width: 45ch;
}

ol:not([class]) li, ul:not([class]) li {
  position: relative;
  line-height: 1.35;
}

ol:not([class]) li + li, ul:not([class]) li + li {
  margin-top: 0.5em;
}

ul:not([class]) {
  list-style: none;
  padding-inline-start: 1rem;
}

ul:not([class]) > li::before {
  content: "";
  display: block;
  position: absolute;
  inset: 1ex 0 0 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: currentColor;
}

ul:not([class]) > li {
  padding-inline-start: 2ch;
}

ol:not([class]) {
  counter-reset: ol-list;
  padding-inline-start: 0.5rem;
}

ol:not([class]) > li::before {
  content: counter(ol-list);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  inset: 0 0 0 0;
  border-radius: 50%;
  font-size: 0.9em;
  background: var(--color-accent-bg);
  color: var(--color-accent-text);
  font-weight: 500;
}

h1 {
  font-size: var(--step-4);
  font-weight: 500;
}

h2 {
  font-size: var(--step-3);
}

h3 {
  font-size: var(--step-2);
}

h4 {
  font-size: var(--step-1);
}

h1, h2, h3, h4 {
  font-family: var(--font-brand);
  line-height: 1.2;
}

h1, h2, h3 {
  max-width: 30ch;
}

h2, h3, h4 {
  font-weight: 400;
}

p {
  max-width: 45ch;
  line-height: 1.5;
}

.o-container {
  width: 90vw;
  width: clamp(16rem, 93vw, 75rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
  padding-right: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
  position: relative;
}

.o-auto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--auto-grid-min-size, 16rem), 1fr));
  grid-gap: 2rem;
}

.o-flow > * + * {
  margin-top: var(--flow-space, var(--space-s));
}

/**
*.post h2, .post h3 {
    --flow-space: 5rem;
}

.eyebrow+:is(h1,h2,h3,h4) {
    --flow-space: 1rem;
}
**/
.o-box {
  padding: var(--space-l);
}

.o-region {
  padding-bottom: var(--region-space, var(--space-l));
  padding-top: var(--region-space, var(--space-l));
}

.o-sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sidebar-gutter, clamp(1.09rem, 1rem + 0.47vw, 1.33rem));
}

.o-sidebar > * {
  flex-grow: 1;
  flex-basis: var(--sidebar-width, 16rem);
}

.o-sidebar > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(70% - var(--sidebar-gutter, clamp(1.09rem, 1rem + 0.47vw, 1.33rem)));
}

.o-switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--switcher-gutter, 1rem);
  --switcher-threshold: 30rem;
}

.o-switcher > * {
  flex-grow: 1;
  flex-basis: calc((var(--switcher-threshold) - 100%) * 999);
}

.o-full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.o-cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space, 1rem);
  justify-content: flex-start;
  align-items: center;
}

.o-centre {
  margin-inline: auto;
}

.c-site-head {
  padding: var(--space-s) 0;
}

.c-site-head__brand svg {
  height: 55px;
  width: 132px;
}

.c-site-head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.c-site-head-container__top {
  flex: 1;
}

.c-site-head-container__bottom {
  flex: 9999;
}

.c-site-main {
  padding-bottom: var(--space-2xl);
}

.c-site-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  --link: var(--colour-white);
  --link-visited: var(--colour-white);
  --link-hover: var(--colour-primary);
}

.c-home-hero {
  background-image: url(/images/tablet.png);
  background-repeat: no-repeat;
  background-position: right 0 bottom 0;
  background-size: min(80%, 30rem);
  padding-bottom: min(80%, 30rem);
  padding-top: var(--space-l);
}
@media (min-width: 62em) {
  .c-home-hero {
    padding-bottom: var(--space-xl);
    background-size: contain;
  }
}

.c-home-hero__heading {
  max-width: 15ch;
}

.c-button {
  font-family: var(--font-brand);
  font-weight: 500;
  text-decoration: none;
  background-color: var(--colour-pink);
  font-size: var(--step--1);
  color: var(--colour-white);
  display: inline-block;
  padding: 0.5em 0.7em;
  --link: var(--colour-white);
  --link-visited: var(--colour-white);
  --link-active: var(--colour-white);
  --link-hover: var(--colour-white);
}
.c-button:hover {
  background-color: #912754;
}

.c-button--action {
  background-color: var(--colour-yellow);
  font-weight: 600;
  --link: var(--colour-black);
  --link-visited: var(--colour-black);
  --link-hover: var(--colour-black);
}
.c-button--action:hover {
  background-color: #ddad05;
}

.c-action-link {
  color: var(--colour-pink);
  display: flex;
  align-items: center;
}
.c-action-link:after {
  padding-left: 1.5em;
  content: "";
  height: 1em;
  width: 1em;
  display: inline-block;
  background-image: url(/images/right-arrow.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.c-card__eyebrow {
  font-family: var(--font-brand);
  font-weight: 400;
  color: var(--colour-pink);
  font-size: var(--step-0);
}

.c-service-tile-list {
  --switcher-threshold: 50rem;
}
.c-service-tile-list > * {
  max-width: 25rem;
  margin: 0 auto;
}

.c-service-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--colour-grey-light);
  padding: var(--space-m);
}

.c-service-tile__icon {
  height: 2.5rem;
  width: 2.5rem;
}

.c-service-tile__text {
  flex-grow: 1;
}

.c-service-tile__link {
  color: var(--colour-pink);
}

.c-register-block {
  --switcher-threshold: 50rem;
  --switcher-gutter: var(--space-l);
}

.c-register-block__ctas {
  --switcher-threshold: 30rem;
  --switcher-gutter: 1rem;
}
.c-register-block__ctas > * {
  max-width: 20ch;
}

.c-icon {
  display: inline-block;
  fill: currentColor;
  height: 0.9em;
  line-height: 1;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 0.9em;
}

.c-with-icon {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.c-icon--big {
  height: 1.5em;
  width: 1.5em;
}

.c-icon--small {
  height: 0.6em;
  width: 0.6em;
}

.c-background {
  background-position: right 2rem center;
  background-size: contain;
  background-repeat: no-repeat;
}

.c-background--calendar {
  background-image: url(/images/calendar.svg);
}

.c-background--quote-mark {
  background-image: url(/images/quote-mark.svg);
}

.c-prose h2 {
  padding-bottom: 0.5em;
  position: relative;
}
.c-prose h2:after {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  width: 50px;
  background-color: var(--colour-blue);
  border-radius: 2px;
}
.c-prose > * + * {
  margin-top: 1em;
}

.c-page-head {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.c-page-head > * {
  min-width: min(100vw, 400px);
  flex: 1;
}

.c-page-head__image {
  display: flex;
  justify-content: end;
}
.c-page-head__image picture {
  height: 100%;
}
.c-page-head__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.c-page-head__content {
  align-self: center;
}

.c-page-head-image-wrapper {
  max-width: 800px;
  max-height: 500px;
  width: 100%;
}

.c-page-intro {
  --switcher-threshold: 50rem;
}

.c-page-intro__heading {
  padding-bottom: 0.5em;
  position: relative;
}
.c-page-intro__heading:after {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  width: 50px;
  background-color: var(--colour-pink);
  border-radius: 2px;
}

.c-partner-logos {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.c-partner-logos img {
  max-width: 8rem;
  height: auto;
}

.c-partner-logos__list-item {
  min-width: 7rem;
  display: flex;
  justify-content: center;
}

.c-menu {
  visibility: hidden;
  font-size: var(--step--1);
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--colour-white);
  transition: 0.5s;
  padding: 2rem;
  transform: translateY(-105%);
}
@media (min-width: 48em) {
  .c-menu {
    position: static;
    visibility: visible;
    transform: none;
    padding: 0;
  }
}

.c-menu.open {
  transform: translateY(0);
  visibility: visible;
}

.c-menu__list {
  --link: var(--colour-black);
  --link-visited: var(--colour-black);
  font-family: var(--font-brand);
  display: flex;
  padding: 2rem;
  margin: 0;
  flex-direction: column;
  overflow-y: auto;
  max-height: 70vh;
}
@media (min-width: 48em) {
  .c-menu__list {
    gap: 0.5em;
    flex-direction: row;
    justify-content: space-between;
    overflow-y: visible;
  }
}

.c-menu__item {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid var(--colour-grey-dark);
}
.c-menu__item:last-of-type {
  border: none;
}
@media (min-width: 48em) {
  .c-menu__item {
    border: none;
  }
}

.c-menu__item--active {
  --link: var(--colour-pink);
  --link-visited: var(--colour-pink);
}

.c-menu__link {
  display: inline-block;
  text-decoration: none;
  padding: 1em 0;
  line-height: 1;
  display: block;
}
@media (min-width: 48em) {
  .c-menu__link {
    padding: 0;
  }
}

.c-menu__open-button,
.c-menu__close-button {
  font-size: 0.9em;
  display: flex;
  justify-content: flex-end;
}
.c-menu__open-button button,
.c-menu__close-button button {
  border: 0;
  display: flex;
  gap: 0.2em;
  flex-direction: column;
  align-items: center;
  background: none;
  font-family: var(--font-brand);
  border: none;
}
@media (min-width: 48em) {
  .c-menu__open-button,
.c-menu__close-button {
    display: none;
  }
}

.c-menu__open-button .c-icon {
  height: 1.2em;
  width: 1.2em;
}

.menu-overlay {
  transition: 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 997;
  display: none;
}

.c-overlap {
  color: var(--colour-white);
}

.c-overlap__top {
  background-color: var(--colour-navy);
}

.c-overlap__bottom {
  background-color: var(--colour-pink);
}

@media (min-width: 48em) {
  .c-overlap__top {
    overflow: hidden;
  }
  .c-overlap__top .c-overlap-container {
    position: relative;
  }
  .c-overlap__top .c-overlap-container:after {
    content: "";
    height: 100%;
    right: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
    top: 0;
    width: 999px;
    transform: translateX(999px);
    position: absolute;
    display: block;
    background-color: white;
  }
  .c-overlap__bottom {
    overflow: hidden;
  }
  .c-overlap__bottom .c-overlap-container {
    padding-left: var(--space-l);
    position: relative;
    transform: translateX(5rem);
  }
  .c-overlap__bottom .c-overlap-container:before {
    content: "";
    height: 80%;
    left: 0;
    top: 0;
    width: 999px;
    transform: translateX(-999px);
    position: absolute;
    display: block;
    background-color: var(--colour-navy);
  }
  .c-overlap__bottom .c-overlap-container:after {
    content: "";
    height: 80%;
    left: 0;
    bottom: 0;
    width: 999px;
    transform: translateX(-999px);
    position: absolute;
    display: block;
    background-color: white;
  }
}
.c-spill {
  overflow: hidden;
}
.c-spill .c-spill-container {
  padding-left: var(--space-l);
  position: relative;
  transform: translateX(5rem);
}
.c-spill .c-spill-container:after {
  content: "";
  height: 100%;
  left: 0;
  bottom: 0;
  width: 999px;
  transform: translateX(-999px);
  position: absolute;
  display: block;
  background-color: white;
}

.u-bg-black {
  background-color: var(--colour-black);
}

.u-bg-pink {
  background-color: var(--colour-pink);
}

.u-bg-yellow {
  background-color: var(--colour-yellow);
}

.u-bg-blue {
  background-color: var(--colour-blue);
}

.u-bg-navy {
  background-color: var(--colour-navy);
}

.u-bg-white {
  background-color: var(--colour-white);
}

.u-bg-grey-light {
  background-color: var(--colour-grey-light);
}

.u-bg-grey-dark {
  background-color: var(--colour-grey-dark);
}

.u-text-black {
  color: var(--colour-black);
}

.u-text-pink {
  color: var(--colour-pink);
}

.u-text-yellow {
  color: var(--colour-yellow);
}

.u-text-blue {
  color: var(--colour-blue);
}

.u-text-navy {
  color: var(--colour-navy);
}

.u-text-white {
  color: var(--colour-white);
}

.u-text-grey-light {
  color: var(--colour-grey-light);
}

.u-text-grey-dark {
  color: var(--colour-grey-dark);
}

.flow-space-0 {
  --flow-space: 0 ;
}

.u-flow-space-3xs {
  --flow-space: var(--space-3xs);
}

.u-flow-space-2xs {
  --flow-space: var(--space-2xs);
}

.u-flow-space-xs {
  --flow-space: var(--space-xs);
}

.u-flow-space-s {
  --flow-space: var(--space-s);
}

.u-flow-space-m {
  --flow-space: var(--space-m);
}

.u-flow-space-l {
  --flow-space: var(--space-l);
}

.u-flow-space-xl {
  --flow-space: var(--space-xl);
}

.u-flow-space-2xl {
  --flow-space: var(--space-2xl);
}

.u-flow-space-3xl {
  --flow-space: var(--space-3xl);
}

.u-step--2 {
  font-size: var(--step--2);
}

.u-step--1 {
  font-size: var(--step--1);
}

.u-step-0 {
  font-size: var(--step-0);
}

.u-step-1 {
  font-size: var(--step-1);
}

.u-step-2 {
  font-size: var(--step-2);
}

.u-step-3 {
  font-size: var(--step-3);
}

.u-step-4 {
  font-size: var(--step-4);
}

.u-step-5 {
  font-size: var(--step-5);
}

.u-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.u-font-base {
  font-family: var(--font-base);
}

.u-font-brand {
  font-family: var(--font-brand);
}

.u-font-normal {
  font-weight: 400;
}

.u-font-medium {
  font-weight: 500;
}

.u-font-bold {
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
