@use '../tools/tools.media-query' as *;

.c-menu {
  visibility: hidden;
  font-size: var(--step--1);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--colour-white);
  transition: .5s;
  padding: 2rem;
  transform: translateY(-105%);
  @include media-query(md) {
    position: static;
    visibility: visible;
    transform: none;
    padding: 0;
  }
}
.c-menu.open {
  transform: translateY(0);
  visibility: visible;
}

.c-menu__list {
  --link: var(--colour-black);
  --link-visited: var(--colour-black);
  font-family: var(--font-brand);
  display: flex;
  padding: 2rem;
  margin: 0;
  flex-direction: column;
  @include media-query(md) {
    gap: 0.5em;
    flex-direction: row;
    justify-content: space-between;
    
  }
}

.c-menu__item {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid var(--colour-grey-dark);
  &:last-of-type {
    border: none;
  }
  @include media-query(md) {
    border: none;
  }
 }

 .c-menu__item--active {
  --link: var(--colour-pink);
  --link-visited: var(--colour-pink);
 }

.c-menu__link {
  display: inline-block;
  text-decoration: none;
  padding: 1em 0;
  line-height: 1;
  display: block;
  @include media-query(md) {
    padding: 0;
  }
}
.c-menu__open-button,
.c-menu__close-button {
  font-size: 0.9em;
  display: flex;
  justify-content: flex-end;
  button {
    border: 0;
    display: flex;
    gap: 0.2em;
    flex-direction: column;
    align-items: center;
    background: none;
    font-family: var(--font-brand);
    border: none;
  }
  @include media-query(md) {
    display: none;
  }
}

.c-menu__open-button {
  .c-icon {
    height: 1.2em;
    width: 1.2em;
  }
}