/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1140,22,1.2,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

$steps: (
  "from": -2,
  "to": 5
);

:root {
  --step--2: clamp(0.78rem, calc(0.71rem + 0.34vw), 0.96rem);
  --step--1: clamp(0.94rem, calc(0.86rem + 0.41vw), 1.15rem);
  --step-0: clamp(1.13rem, calc(1.03rem + 0.49vw), 1.38rem);
  --step-1: clamp(1.35rem, calc(1.23rem + 0.59vw), 1.65rem);
  --step-2: clamp(1.62rem, calc(1.48rem + 0.70vw), 1.98rem);
  --step-3: clamp(1.94rem, calc(1.77rem + 0.84vw), 2.38rem);
  --step-4: clamp(2.33rem, calc(2.13rem + 1.01vw), 2.85rem);
  --step-5: clamp(2.80rem, calc(2.56rem + 1.21vw), 3.42rem);
}