---
layout: layouts/base.njk
title: About the programme
desc: What is Open digital Planning?
head_content: |
  Open Digital Planning is a project to build the next generation of 
  planning services in local government. Partners from all of the UK 
  don't just buy the services, they help create them. They contribute 
  ideas for service improvements, then help to design, test and use them.
head_image_url: /images/workshop.jpg
head_image_alt: A workshop!
intro_title: Who's involved?
partners:
  - name: UK Government
    logo: uk-gov.png
  - name: Department for Leveling Up, Housing & Communities
    logo: leveling-up.png
  - name: Southwark Council
    logo: southwark.png
  - name: Lambeth Council
    logo: lambeth.png
  - name: Newcastle City Council
    logo: newcastle.png
  - name: Camden
    logo: camden.png
  - name: City of Doncaster Council
    logo: doncaster.png
  - name: Buckinghamshire Council
    logo: buckinghamshire.png
  - name: Dacorum Borough Council
    logo: dacorum.png
  - name: Gloucester City Council
    logo: gloucester.png
  - name: Medway Council
    logo: medway.png
  - name: Open Systems Labs
    logo: open-systems-labs.png
  - name: Unboxed
    logo: unboxed.png
  - name: Agile Collective
    logo: agile-collective.png
  - name: Nomensa
    logo: nomensa.png
content:
  - type: text
    heading: Future of planning
    content: |
      <p>Planning is evolving from a system largely based on documents and paper 
        maps, to one that embraces data and digital technologies. This will allow 
        faster, simpler and more transparent processes.</p>
      <p>Open Digital Planning services (formerly 'RIPA and BOPS') are designed 
        around user needs, security, and openness so that they meet <a href="https://www.gov.uk/guidance/the-technology-code-of-practice">modern technology 
        standards</a>. We're creating flexible software with better access to underlying 
        planning data, allows information to move seamlessly, and helps to automate 
        routine processes.</p>
      <p><a href="https://bills.parliament.uk/bills/3155">Future legislation</a> seeks to encourage this move to more modular technology.</p>
  - type: quote
    quote: It was so different as a planner to go from being asked 'does this work?' to 'what do you actually want out of this software?'
    attributee: Janine, Dacorum Borough Council
  - type: text
    heading: How it works
    content: |
      <p>The team is made up of council officers, content writers, developers 
        and user research experts from nine local authorities, four agencies and 
        central government.</p>
      <p>We work in small product teams. Team members take part in research, 
        design and testing activities. Depending on their level of involvement 
        (see <a href="/join">How to join</a>) councils may also collaboratively prioritise the 
        features that are built and help direct the overall strategy for Open 
        Digital Planning.</p>
      <p>Council partners are also responsible for the day-to-day running of the services 
        in their local authorities.</p>
      <p>We use the collective wisdom of council staff with deep knowledge of local 
        planning so that our services better meet the needs of council planning teams.</p>
      <p>The project uses agile processes: the work is prioritised into two-week sprints
         and when we reach a milestone we test and release. In this way we continuously 
         improve the service products. Some of our best thinking takes place in 
         retrospective meetings - spaces for reflection that ensure we stay critical
      <p>Design and development support is provided by four digital agencies: 
        <a href="https://www.opensystemslab.io">Open Systems Lab</a>, <a href="https://unboxed2022.uk">Unboxed</a>, 
        <a href="https://www.agile.coop">Agile Collective</a> and <a href="https://www.nomensa.com/">Nomensa</a>. </p>
  - type: text
    heading: Being open
    content: |
      <h3>Open source</h3>
      <p>The source code underpinning our work is open by default. 
        The code is freely available to software developers to reuse and edit. </p>
      <p>Where features in our services are of interest to others, reusing our 
        code can save effort and support the improvement of services 
        across the planning software market.</p>
      <h3>Working in the open</h3>
      <p>We make our documents, presentations, and research publicly 
        viewable so that others can benefit from our findings.</p>
      <p>Monthly Show-and-Tells are open to all and allow us to share 
        our progress with a wider audience on a monthly basis.</p>
      <h3>Open standards</h3>
      <p>We want to see a plug-and-play ecosystem of digital planning 
        services that 'just work'. Integrations between different systems 
        should be straightforward, and based on openly published standards 
        and documentation, so that councils have more choice in the software 
        they can use. </p>
  - type: text
    heading: Collaboration
    content: |
      <p>All Open Digital Planning partners are committed to the five 
        principles of the <a href="https://www.localdigital.gov.uk/what-is-the-declaration/">Local Digital Declaration</a>, an ambition for the 
        future of local government services.</p>
      <p>We believe that councils should be at the heart of how local 
        services are designed, and we have benefitted from working 
        together to solve shared challenges, supporting and learning 
        from each other as we go. </p>
      <p>Our services are designed with more than just our project partners 
        in mind. By bringing in multiple viewpoints from council officers 
        across the country we are creating services that work for everyone. </p>
  - type: quote
    quote: There's great work being achieved and there's much to be said for government, developer,  and Local Authority collaboration, and the innovations and improvements that derive from this
    attributee: Jenna, Doncaster Council
  - type: text
    heading: Future of the Programme
    content: |
      <p>We launched our first live services in the summer of 2022 and a lot of 
        the functionality needed to support services for more types of planning 
        applications has already been developed. </p>
      <p>Working incrementally, we aim to continuously improve our services as we go.</p>
      <p>Our primary focus is to develop services for full householder planning permission. 
        We are continuously improving our services and adding new features all the time. 
        The team working on the Application Services are currently exploring a simple prior
         approvals service, for example.</p>
      <p>Our Assessment Service is expanding in its scope. Current work will integrate 
        planning history data and improve the assessment process for officers. 
        We're scaling and improving the way that we support new councils to adopt 
        the services and to join our <a href="https://docs.google.com/presentation/d/16bTMl__PO4ggzkuwRGjeMFuPJb8OJA3UrVgPtPADFxc/edit#slide=id.p">collaborative teams.</a></p>
      <p>Our ambition is to ensure that our services are commercially viable, 
        comply with government legislation, and support simpler and more 
        transparent planning. In the future, Open Digital Planning will develop 
        into an independent not-for-profit legal entity, jointly owned by councils 
        that oversee a flexible and affordable ecosystem of digital planning services. </p>
  - type: text
    heading: Roadmap
    content: |
      <ul>
        <li><strong>2019</strong> - RIPA and BOPS project separately win funding from DLUHC's Local Digital Fund.</li>
        <li><strong>2020</strong> - RIPA and BOPS projects reach beta phase and align product development activities.</li>
        <li><strong>2021</strong> - Private beta services launched for Lawful Development Certificate applications, users are invited to test them.</li>
        <li><strong>2022</strong> - Public beta services launched for Guidance, Application and Assessment services, live on council websites.</li>
        <li><strong>2023</strong> - The next intake of Open Digital Planning project partners. ODP services integrate with key submissions services and back office systems via open APIs.</li>
        <li><strong>2024</strong> - The services are processing live applications for householder planning permission. Open Digital Planning is incorporated as a legal entity backed by a sustainable business model.</li>
      </ul>
---

{% import "blocks.njk" as blocks %} {% extends "layouts/standard-page.njk" %} {%
block intro %}
<ul class="c-partner-logos" role="list">
  {% for partner in partners %}
  <li class="c-partner-logos__list-item">
    {% image "/images/partner-logos/" + partner.logo, partner.name, false,
    '100vw' %}
  </li>
  {% endfor %}
</ul>
{% endblock %} {% block body %} {% for item in content %}
{{ blocks.print(item) }}
{% endfor %} {% endblock %}
