---
layout: layouts/base.njk
title: Funding
desc: Funding is available to help councils join Open Digital Planning
head_content: |
  Councils can apply for funding from DLUHC in order to join the project and start adopting the services.
intro_title: DLUHC's involvement
intro_content: |
  <p>The Department for Levelling Up, Housing and Communities (DLUHC) is funding 
    English councils to collaboratively develop digital planning services as 
    part of the commitment to improve the planning system outlined in the 
    <a href="https://bills.parliament.uk/bills/3155">Levelling Up and Regeneration Bill</a>, 
    and aspirations for the future of local government services expressed in the 
   <a href="https://www.localdigital.gov.uk/what-is-the-declaration/">Local Digital Declaration</a>.</p>
content:
  - type: text
    heading: Funding rounds
    content: |
      <p>Currently, councils can only adopt our services by applying for 
        funding from DLUHC to join the Open Digital Planning project team. 
        Council officers are expected to contribute their time to the project 
        alongside adopting the services, which are still in development. 
        This helps us to keep a tight focus on user needs when designing the services.</p>
      <p>DLUHC's next funding round for planning software is due to open 
        in November 2022, and will close on 23 December 2022. Councils 
        looking to apply to join Open Digital Planning should read <a href="/join">how 
        to join</a> to better understand what involvement in the project looks like.</p>
      <p><a href="https://www.eventbrite.com/e/digital-planning-software-improvement-fund-launch-event-tickets-461793576017">Sign up to the DLUHC funding launch event</a> to learn more.</p>
---

{% import "blocks.njk" as blocks %} {% extends "layouts/standard-page.njk" %} {%
block head %} {% include "page-head-with-image.njk" %} {% endblock %} {% block
intro %}
{{ intro_content | safe }}
{% endblock %} {% block body %} {% for item in content %}
{{ blocks.print(item) }}
{% endfor %} {% endblock %}
