---
title: Home
desc: Planning services designed by councils for councils.
layout: layouts/base.njk
intro: Open Digital Planning is a visionary project to design the next generation of planning services for local government.
by_councils_heading: Join a collaborative venture
by_councils_content: We are a growing group of UK council officers who have joined together with digital agencies to co-design, build, test and launch better software.
by_councils_cta_title: Find out more about the project
by_councils_cta_url: /about
for_councils_heading: Our services and software
for_councils_content: Open Digital Planning is a set of integrated applications that are simpler for applicants, agents and planning officers.
services:
  - name: Guidance
    content: Your residents can find out if their project might need planning permission straight away
    icon_id: triangle
    url: /services/guidance
  - name: Application
    content: Your residents can apply and pay for a lawful development certificate online
    icon_id: diamond
    url: /services/application
  - name: Assessment
    content: An easy-to-use back-office system for your planning team to manage applications
    url: /services/assessment
claim: We estimate that our software prevents 71% of invalid application
claim_cta_url: /benefits
event_name: DLUHC funding launch event
event_date: 16 November 2022
event_cta_url: https://www.eventbrite.com/e/digital-planning-software-improvement-fund-launch-event-tickets-461793576017
event_cta_title: Register now
---

<div class="c-home-hero">
  <div class="o-flow o-container u-flow-space-m">
    <h1 class="c-home-hero__heading u-step-5">
      Planning services <span class="u-text-pink">designed by planners</span>
    </h1>
    <p>{{ intro }}</p>
  </div>
</div>
<div class="c-card u-bg-grey-light">
  <div class="c-card o-container o-region o-flow">
    <h2 class="c-card__eyebrow">By councils</h2>
    <h3>{{ by_councils_heading }}</h3>
    <p>{{ by_councils_content }}</p>
    <a href="{{ by_councils_cta_url }}" class="c-button">{{
      by_councils_cta_title
    }}</a>
  </div>
</div>
<div class="o-region o-container o-flow">
  <div class="c-card o-flow">
    <h2 class="c-card__eyebrow">For councils</h2>
    <h3>{{ for_councils_heading }}</h3>
    <p>{{ for_councils_content }}</p>
  </div>
  {% include "service-tiles.njk" %}
</div>
<div class="c-overlap">
  <div class="c-overlap__top">
    <div class="c-overlap-container o-container o-region o-flow">
      <h2>
        {{ claim }}
      </h2>
      <a href="{{ claim_cta_url }}" class="c-button c-button--action"
        >Find out more</a
      >
    </div>
  </div>
  <div class="c-overlap__bottom">
    <div
      class="c-overlap-container c-background c-background--calendar o-container o-region o-flow"
    >
      <h2 class="u-step-1">Upcoming event</h2>
      <h3>{{ event_name }}</h3>
      <p>{{ event_date }}</p>
      <a href="{{ event_cta_url }}" class="c-button c-button--action">{{
        event_cta_title
      }}</a>
    </div>
  </div>
</div>
<div class="o-container o-region o-flow">
  <h2>From our Twitter</h2>
  <p>
    <a href="https://twitter.com/opendigitalplan" class="c-with-icon">
      Follow us
      <svg class="c-icon c-icon--small">
        <use xlink:href="images/all.svg#right-arrow" />
      </svg>
    </a>
  </p>
  <div class="o-auto-grid">{% include "tweets.njk" %}</div>
</div>
