---
layout: layouts/base.njk
title: How to join
desc: The steps to your council becoming a member of Open Digital Planning
head_content: |
  The steps to your council becoming a member of Open Digital Planning
intro_title: Decide if it's right for your council
intro_content: |
  <p>Joining the project means accessing funding and committing resources to moving the software forward. In return, your council gets resilient, modern digital solutions, cost savings and reductions in errors and invalid applications.</p>
intro_image_url: /images/join-process.svg?c=09q823
content:
  - type: text
    heading: 1. Register your interest
    content: |
      <p>If your council's considering joining the Open Digital Planning programme, 
      then please register your interest to be kept up-to-date with the latest developments.</p>
  - type: text
    heading: 2. Sign up to the commitments
    content: |
      <p>The next step will be to review the Open Digital Planning commitments.</p>
      <p>These commitments are intended to capture your council's readiness for digital 
        transformation. You are likely to already be doing many of these things in 
        your council, but others may require updates to your processes.</p>
      <p><a href="/adoption-commitments/">Please see the full list of commitments</a>.</p>
  - type: text
    heading: 3. Choose your level of involvement
    content: |
      <p>When you join Open Digital Planning, your council team members take 
        on a series of responsibilities. These relate to setting up the services 
        in your council, supporting the day-to-day processing of applications using 
        the services, and working with other councils to further develop the services. </p>
      <p>Collaborative product development takes place through a structured set of 
        project activities such as prioritisation, research, and testing sessions 
        that take place on a two-week 'sprint' cycle.</p>
      <p>Different team members contribute to different conversations and 
        fulfil different functions within the project team. Based on their area of 
        expertise, some people are heavily involved in the development of specific 
        services and others provide specific planner or technical expert inputs, 
        for example.</p>
      <p>Partner councils choose a level of involvement in collaborative project 
        activities, which may change over time. <a href="/funding">Funding</a> 
        is available to backfill council staff's time when contributing to this work.</p>
      <p>Joining the Open Digital Planning community means being part of an 
        online chat group (via Slack), and invited to sessions that are not public, 
        including quarterly in-person events</p>
      <h3>High</h3>
      <p>As dedicated collaborators, your council staff take part in all aspects 
        of the project and are part of product prioritisation and strategy decisions. 
        Responsibilities are shared among several people in your project team, and 
        are likely to amount to <strong>2-4 staff (Full Time Equivalents)</strong> overall.</p>
      <h3>Medium</h3>
      <p>As contributors, your council staff take part in specific working group 
        activities that relate to different parts of the services under development. 
        Responsibilities are shared among people in your project team, and are likely 
        to amount to <strong>1-2 staff (Full Time Equivalents)</strong> overall.</p>
      <h3>Low</h3>
      <p>As users,  your council / council team members take part in user groups 
        and research, testing and feedback activities that feed into product backlogs. 
        Responsibilities are shared among a small number of people in your council, 
        and are likely to amount to a maximum of <strong>1 Full Time Equivalent staff member overall</strong>.</p>
  - type: text
    heading: 4. Apply for funding
    content: |
      <p>The UK Department for Levelling Up, Housing and Communities (DLUHC) 
      is making funding available in rounds, The next round is late 2022 - early 2023. 
      Read more about <a href="/funding">funding</a>.</p>
---

{% import "blocks.njk" as blocks %} {% extends "layouts/standard-page.njk" %} {%
block head %} {% include "page-head-with-image.njk" %} {% endblock %} {% block
intro %}
{{ intro_content | safe }}
{% endblock %} {% block body %} {% for item in content %}
{{ blocks.print(item) }}
{% endfor %} {% endblock %}
